<%- include('./partial/meta') %>
<%- include('./partial/home') %>
<h2 class="page-title">Categories</h2>
<a href="/addcategory" class="btn ">Add categories</a>
<br><br>
<table class=" table table-stripped">
    <thead>
        <tr>
            <th>categories</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
       <% categories.forEach(cat => { %>
    <tr>
        <td><%=cat.title %></td>
        <td><a href="/category/editpage/<%= cat._id%>">edit</td>
            <td><a href="/category/deletepage/<%= cat._id %>">Delete</td>
        <td></td>
    </tr>

    <% }) %>
    </tbody>
</table>
<style>
    .btn{
  color: #fff;
  background-color:#ECBADB;
  border-color:#ECBADB;
}

.btn :hover {
  background-color: #ECBADB;
  border-color: #ECBADB;
}
</style>
 