<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">

<section class="orders light-section">
  <div class="container mx-auto pt-4">
    <h1 class="font-bold text-lg mb-4">All Orders</h1>

    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Orders</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">phone</th>
          <th scope="col">City</th>
          <th scope="col">Country</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Qty</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach((order) => { %>
        <tr>
          <td><a class="link" href="/customer/orders/<%= order._id %>"><%= order._id %></a></td>
          <td><%= order.name %></td>
          <td><%= order.address %></td>
          <td><%= order.phone %></td>
          <td><%= order.city %></td>
          <td><%= order.country %></td>
          <td>
            <% cartitems.forEach((item) => { %>
              <%= item.name %><br>
            <% }); %>
          </td>
          <td>
            <% cartitems.forEach((item) => { %>
              <%= item.qty %><br>
            <% }); %>
          </td>
          <td>
            <% var total = 0; %>
            <% cartitems.forEach((item) => { %>
              <% total += parseFloat(item.qty * item.price); %>
            <% }); %>
            <%= total.toFixed(2) %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
   
  </div>
   <form action="/process-shipping" method="POST"></form>
   <% if (cartitems && cartitems.length > 0) { %>
    <% var total=0; %>
    <% cartitems.forEach(product => { %>
        <% var subtotal = parseFloat(product.qty * product.price).toFixed(2); %>
       <% total+=+subtotal %>
    <% }) %>
    <% } %>
   
   
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="upload" value="1">
      <input type="hidden" name="business" value="sb-rrk6c26766407@business.example.com">
       <input type="hidden" name="item_name_1" value="Product Name">
       <input type="hidden" name="amount_1" value=  <%= parseFloat(total).toFixed(2) %>>
       <input type="hidden" name="quantity_1" value="1">
       <input type="hidden" name="return" value="http://localhost:3000/payment_success">
      
        <input type="submit" value="Pay with PayPal">
  
         </form>
   
   
   
         <div id="paypal-button-container">
         
  
         </div>
   
    <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID"></script>
    <script>
      document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent form submission
     
  
        paypal.Buttons({
    createSubscription(data, actions) {
      // updatedSubscription, status, and subscriptionId are defined by your code
      if (updatedSubscription && (status === 'ACTIVE' || status === 'SUSPENDED')) {
        // if subscription exists, revise it by chaning the plan id
        return actions.subscription.revise(subscriptionId, {
          "plan_id": "NEW_SUBSCRIPTION_PLAN_ID"
        });
      } else {
        return actions.subscription.create({
          'plan_id': 'P-2UF78835G6983425GLSM44MA'
        });
      }
    },
  
    onApprove(data) {
      alert('You have successfully created subscription ' + data.subscriptionID);
    }
  }).render('#paypal-button-container');
      });
    </script>
 
</section>


