<!DOCTYPE html>
<html lang="en">
<%- include('./partial/css') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
       <% data.forEach(product => { %>
            <div class="col-md-6">
              <div class="card">
                <img src="/productImage/<%= product.image %>" alt="Product Image" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Product Name:<%=product.name%></h5>
                  <p class="card-text price">Price RS:<%= product.price %></p>
                  <p class="card-text">Location:<%=product.location%></p>
                  <p class="card-text">Author:<%=product.author%></p>
                  <p class="card-text">Delivery:<%=product.delivery%></p>
                  <p class="card-text">Product description:<%= product.pdescription %></p>
                  <p class="card-text description"></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                  <a href="#" class="btn btn-primary">Buy now</a>
                </div>
              </div>
            </div>
         <% }) %>
        </div>
      </div>
    
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    
    </html>
     