<%- include('./partial/meta') %>
<%- include('./partial/home') %>

<h2 class="page-title">Products</h2>
<a href="/addproduct" class="btn">Add Product</a> <!-- Added space between Add and Product -->

<br><br>

<% if (products.length === 0) { %>
    <p>No products found.</p>
<% } else { %>
    <table class="table table-striped"> <!-- Corrected table class name to "table-striped" -->
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Description</th>
                <th>Author</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %> <!-- Updated variable name from "data" to "products" -->
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.pdescription %></td>
                    <td><%= product.author %></td>
                    <td><img src="/productImage/<%= product.image %>" style="width: 100px; height: auto;"></td>
                    <td>
                        <a href="/products/update/<%= product._id %>">Edit</a>
                    </td>
                    <td>
                        <form action="/products/delete/<%= product._id %>" method="POST">
                            <!-- Add a hidden input field to specify the request method as DELETE -->
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>

<style>
    .btn {
        color: #fff;
        background-color: #ECBADB;
        border-color: #ECBADB;
    }

    .btn:hover {
        background-color: #ECBADB;
        border-color: #ECBADB;
    }
</style>
