<!DOCTYPE html>
<html lang="en">
<%- include('./partial/css') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
  <form action="/products" method="post"></form>
  <div class="container">
    <div class="row justify-content-center">
       <% data.forEach(product => { %>
            <div class="col-md-6">
              <div class="card">
                <img src="/productImage/<%=product.image %>" alt="Product Image" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <p class="card-text price"> RS:<%= product.price %></p>
                
                  <style>
                    .icon-container {
                      display: flex;
                      justify-content:space-evenly;
                      margin-top: 10px;
                    }
                  </style>
                  
                  <div class="icon-container">
                    <a href="/products/<%= product._id %>">
                      <i class="fa-sharp fa-solid fa-eye" style="font-size: 24px; color: black;"></i>
                    </a>
                    <a href="">
                       <i class="fa-solid fa-cart-shopping" style="font-size: 24px; color: black;"></i>
                    </a>
                  </div>
                
                </div>
              </div>
            </div>
         <% }) %>
        </div>
      </div>
    
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    
    </html>
     